* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {

    margin: 24px 0;
}

h2 {
    margin: 16px 0;
}

label {
    display: block;
    font-size: 14px;
    color: dimgrey;
}

.result {
    font-size: 20px;
    font-weight: 700;
}